*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #74ebd5, #ACB6E5);
}

form{
    width: 380px;
    background: white;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.2);
}

input,
select,
textarea,
button{
    width: 100%;
    padding: 12px;
    margin-top: 12px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 15px;
    outline: none;
}

textarea{
    resize: none;
}

button{
    background: #4a90e2;
    color: white;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

button:hover{
    background: #357ABD;
}

.error{
    border: 2px solid red;
}

small{
    color: red;
    font-size: 13px;
}
small{
    color: red;
    font-size: 13px;
}